#--------------------------------------------------------------------
# ENVIRONMENT (Mode Aplikasi)
# Ubah ke 'development' jika ingin melihat error secara detail
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP SETTINGS
# Ubah bagian 'pemesanan-tiket-bus' sesuai dengan nama folder 
# proyek di dalam folder 'www' Laragon teman Anda.
#--------------------------------------------------------------------
app.baseURL = 'http://localhost/pemesanan-tiket-bus/public/'
app.forceGlobalSecureRequests = false

#--------------------------------------------------------------------
# DATABASE SETTINGS
# Teman Anda wajib menyesuaikan ini dengan pengaturan database 
# di komputer mereka masing-masing.
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = db_tiket_bus
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306